*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
}
main{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
   margin: 0 auto;
   border-bottom: 1px solid white;
    
}
.menu{
    display: flex;
  align-items: center;
  justify-content: center;
 
}




    
    
 

a{
    text-decoration: none;
    color: rgb(107, 209, 5);
    margin: 20px;
    font-size: 20px;
    padding: 5px 15px ;
}

a:hover{
    margin: 20px;
   color: red;
    transition: 0.2s;
    background-color: rgb(61, 226, 10);
 padding: 5px 15px ;
 border-radius: 5px;
}
#btn_con{
   
    padding: 5px 20px;
    color: red;
    border-radius: 5px;
}
#btn_con:hover{
   transition: 0.3s;
   transform: scale(1.2);
   background: none;
    
    
}

aside{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
span{
    color: rgb(243, 245, 242);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 10px 5px 20px rgb(14, 221, 7);
}
h1{
    display: flex;
    flex-direction: column;
   
    font-size: 30px;
    color: white;
}
.card{
    margin: 20px;
    text-align: center;
    width: 150px;
    height: 200px;
    background: linear-gradient(90deg, rgb(24, 173, 4) 0%, rgb(22, 22, 22) 35%, rgb(1, 155, 14) 100%);
    color: white;
    border-radius: 5px;
    border: 10px solid green;
    box-shadow: 10px 5px 20px rgb(29, 218, 4);
    
}
 
article{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
@media screen and (max-width: 680px){
    article{
        flex-direction: column;
      align-items: center;

    }
    a{
        visibility: hidden;
    }
    .comprar{
        visibility: visible;
    }
    #btn_con{
        visibility: visible;
        justify-content: center;
       
    }
    .menu{
      position: absolute;
    }
    main{
       flex-direction: column;
       align-items: center;
    }
    #kinnet{
        width: 200px;
    }
    }


    


    
